body {
    background-color: rgb(67, 180, 169);
    margin: 0;
}

h1 {
    font-family: 'Segoe UI';
    color: black;
}

h3 {
    font-family: 'Segoe UI';
    color: black
}

#application {
    min-height: 100%;
    height: 100%;
}


.centered {
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    max-width: 900px;
}

#synth-container {
    background-color: rgb(209, 209, 209);
    border-radius: 10px 10px 40px 40px;
    display: inline-block;
    width: 100%;
    box-shadow: 50px 50px 75px -50px;
}

#keyboard-container {
    display: block;
}

#keyboard {
    display: block;
    margin: 0 auto;
}

#top-row {
    margin: 30px;
    width: 100%;
    height: 25%;
}

#wtb-container {
    display: inline-block;
    width: 43%;
}

#wtb-container > h3 {
    text-align: center;
    margin-bottom: 0;
}

#wt-container > h3 {
    display: inline-block;
    width: 25%;
    text-align: center;
}

#waveTypeButton {
    display: inline-block;
    width: 100%;
}

#fd-container {
    display: inline-block;
    width: 23%;
}

#fd-container > h3 {
    text-align: center;
}

#filterDial {
    display: inline-block;
    width: 100%;
}

#adsr-container {
    display: inline-block;
    width: 33%;
}

.tooltip {
    position: relative;
    top: 0;
    left: 25%;
    display: inline-block;
    font-family: 'Segoe UI';
    color: black;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.tooltip > h3 {
    margin-bottom: 2px;
    display: inline-block;
    font-weight: normal;
    font-size: small;
}

.tooltip .tooltiptext > h4 {
    text-align: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 800px;
    background-color: rgb(67, 180, 169);
    color: white;
    border-style: solid;
    border-color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip > h3:hover .tooltiptext {
    visibility: visible;
}


#adsr-container > h3 {
    text-align: center;
}

.adsr-row > h3 {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.adsr-row > div {
    display: inline;
    float: right;
    margin-right: 30%;
}

#middle-row {
    margin: 30px;
    width: 100%;
    height: 25%;
}

#reverb-container {
    display: inline-block;
    width: 20%;
}

#reverbDial {
    width: 100%;
}

#reverb-container > h3 {
    text-align: center;
}

#delay-container {
    display: inline-block;
    width: 20%;
}

#delayDial {
    width: 100%;
}

#delay-container > h3 {
    text-align: center;
}

#effects-container {
    display: inline-block;
    width: 50%;
}

#tremolo-container {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
    margin-left: 30px;
}

#chorus-container {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
    margin-left: 30px;
}

#oscilloscope {
    margin: auto;
    margin-bottom: 20px;
}

#preset-container {
    position: relative;
    z-index: 2;
}

#preset-load-container {
    display: inline-block;
    margin-top: 10px;
}

#preset-save-container {
    display: block;
    float: right;
    margin-top: 10px;
}

#title-container h1 {
    text-align: center;
}


