body {
    background-color: rgb(21, 192, 175);
    margin: 0;
}

#application {
    min-height: 100%;
    height: 100%;
}


.centered {
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    max-width: 900px;
}

#synth-container {
    background-color: rgb(211, 211, 211);
    display: inline-block;
    width: 100%;
}

#keyboard-container {
    display: block;
}

#keyboard {
    display: block;
    margin: 0 auto;
}

#top-row {
    margin: 30px;
    width: 100%;
    height: 25%;
}

#wtb-container {
    display: inline-block;
    width: 33%;
}

#wt-container > h3 {
    display: inline-block;
    width: 25%;
    text-align: center;
}

#waveTypeButton {
    display: inline-block;
    width: 100%;
}

#fd-container {
    display: inline-block;
    width: 33%;
}

#fd-container > h3 {
    text-align: center;
}

#filterDial {
    display: inline-block;
    width: 100%;
}

#adsr-container {
    display: inline-block;
    width: 33%;
}

.adsr-row > h3 {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.adsr-row > div {
    display: inline;
    float: right;
    margin-right: 30%;
}

#middle-row {
    margin: 30px;
    width: 100%;
    height: 25%;
}

#reverb-container {
    display: inline-block;
    width: 20%;
}

#reverbDial {
    width: 100%;
}

#reverb-container > h3 {
    text-align: center;
}

#delay-container {
    display: inline-block;
    width: 20%;
}

#delayDial {
    width: 100%;
}

#delay-container > h3 {
    text-align: center;
}

#effects-container {
    display: inline-block;
    width: 50%;
}

#tremolo-container {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
    margin-left: 30px;
}

#chorus-container {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
    margin-left: 30px;
}

#oscilloscope {
    margin: auto;
    margin-bottom: 20px;
}

#preset-load-container {
    display: inline-block;
}

#preset-save-container {
    display: inline-block;
    float: right;
}

#title-container h1 {
    text-align: center;
}


